<% if @book.errors.any? %>
 <%= @book.errors.count %>error happened
  <ul>
 <% @book.errors.full_messages.each do |message| %>
  <li><%= message %></li>
 <% end %>
  </ul>
<% end %>

<div class="container">
 <div class="row">
  <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
   <h1>Editing Book</h1>
     <%= form_with model:@book, url:book_path(@book.id), method: :patch do |f| %>

    <h5>Title</h5>
      <%= f.text_field:title %><br />

    <h4>Opinion</h5>
      <%= f.text_area:body %><br />

      <%= f.submit 'Update Book' %><br />

      <%= link_to 'Show',book_path(@book.id) %>
      <%= link_to 'Back',books_path %>
    <% end %>
  </div>
 </div>
</div>